parameters:
    level: 9
    scanDirectories:
        - dev-stubs
    paths:
        - src
    excludePaths:
        - vendor
        - tests
    reportUnmatchedIgnoredErrors: false
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'